@using WebSiteBanSach.Models;
@model List<ChuDe>

@foreach (var item in Model)
{
    <a href="#" class="button button-submit"> @item.TenChuDe</a>
}
    <a href="#" class="button button-submit"> Chủ Đề Khác ...</a>
